@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* nav bar styling */

.navbar{
    position:fixed;
    width: 100%;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #0c161b;
    padding-bottom: 10px;
    padding-top: 10px;
}
/* buttons */

.navbar .menu li a{
    color: white;
    
}

.buttons{
    transition: transform 0.3s ease;
    padding: 10px 25px;
    margin: 10px;
    border-radius: 20px;
    font-size: 15px;
    cursor:pointer;
    background:#09aafa;
}
/* button animation */

.buttons::after, .buttons::before{
    content:"";
    position: absolute;
    opacity: 0.3;

    border-radius: inherit;
    width: 100%;
    height:100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;

}

.buttons:hover{
    transform: translate(-12px, -12px);
    background:#09aafa;
}

.buttons:hover::after{
    transform: translate(6px, 6px);
    background:#09aafa;
}

.buttons:hover::before{
    transform: translate(12px, 12px);
    background:#09aafa;
}

/* buttons alignment */

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin:auto;
}

.navbar .max-width{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
/* logo */

.navbar .logo a{
    color: #09aafa;
    font-size: 40px;
    font-weight: 600;
    transition: color 0.3s ease;
    cursor:default;
}

.navbar .logo a:hover{
    color: gold;
}

/* menu btn styling */

.menu-btn{
    color:#09aafa;
    font-size:27px;
    cursor:pointer;
    display:none;
}



/* home */

.home{
    display:flex;
    background: url(images/background.png) no-repeat center;
    background-size: cover;
    height:100vh;
    min-height: 500px;
    color:white;
    font-family: 'Oswald', sans-serif
}


/* text in home */
.home .max-width{
    margin: auto 0 auto 0px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: #09aafa;
}

.home .home-content a{
    display:inline-block;
    background:#09aafa;
    color:white;
    border-radius:9px;
    padding: 12px 36px;
    margin-top: 20px;
    border: 2px solid #09aafa;
    font-size:30px;
    transition: all 0.3s ease

}

.home .home-content a:hover{
    color:white;
    background:none;

}

/* responsive media query start */





/* Commissions Section */

.commission .max-width .title{
    text-align:center;
    font-size:30px;
    font-family: 'Oswald', sans-serif;
    border: 4px solid black;
    margin-top:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:40px;
    letter-spacing:10px;
}


.commission .max-width .info .text-a{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

}

.commission .max-width .info .text-a span{
    color:darkblue;
}

.commission .max-width .info .text-b{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-bottom:40px;


}

/* card styling */

.commission .comms-content .card{
    width: calc(33% - 20px);
    background:black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: default;
    transition: color 0.9s ease;
    border: 4px solid black;
    border-radius: 3px;
    display:inline-block; margin-left: 10px;

}

.commission .comms-content .card:hover{
    background:white;
    color:black;
}

.commission .comms-content .card .box .text{
    font-family: 'Oswald', sans-serif;
    font-size: 30px
}

.commission .comms-content .card .box p{
    font-family: 'Open Sans', sans-serif;
}

.commission .comms-content .card .box i{
    font-size: 27px;

    margin: 20px;
}

.commission .comms-content .card .box p{
    margin: 20px;
}

.commission .max-width .text-c{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    padding: 30px;
    margin-top:20px;
    text-align:center;
    text-decoration:underline;

}

/* skills styling*/

.skills {
    display:block;
    background: url(images/skillsbg.png) no-repeat center;
    padding-top:20px;
    padding-bottom:40px;

}

.skills .max-width .title{
    text-align:center;
    font-size:30px;
    font-family: 'Oswald', sans-serif;
    border: 3px solid white;
    margin-top:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:80px;
    letter-spacing:10px;
    color:white;
    display:block;
}

.skills .max-width{
    color:white;
    font-size:50px;
    font-family: 'Oswald', sans-serif;
    text-align:justify;
}

.skills .max-width .glass{
    background:rgba(12, 22, 27, 1);
    display:inline-block;
    min-height:10vh;
    width: 40%;
    background:linear-gradient(to right bottom, rgba(12, 22, 27, 0.7), rgba(12, 22, 27, 0.7));
    border-radius:20px;
    backdrop-filter: blur(2rem);
    margin-bottom:20px;
    padding-right:20px;
}

.skills .max-width .glass2{
    background:rgba(12, 22, 27, 1);
    display:inline-block;
    min-height:10vh;
    width: 40%;
    background:linear-gradient(to right bottom, rgba(12, 22, 27, 0.7), rgba(12, 22, 27, 0.7));
    border-radius:20px;
    backdrop-filter: blur(2rem);
    margin-bottom:20px;
    padding-right:20px;
    float:right;
}


.skills .skills-content .column{
    width: calc(50% - 30px);
}

.skills .skills-content .left img{
    width: 70px;
    float:left;
    margin: 30px;
}

.skills .skills-content .left p{
    text-align: justify;
}

.skills .skills-content .right{
    display:inline-block;
    margin-top:40px;
    margin-bottom: 20px;
    width: calc(75% - 30px);;
}

.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 24px;
    margin-left: 0px;
    margin-right: 15px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    margin-left: 0px;
    margin-right: 15px;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #09aafa;
}
.skills-content .right .premiere::before{
    width: 80%;
}

.skills-content .right .aftereffects::before{
    width: 70%;
}

.skills-content .right .illustrator::before{
    width: 50%;
}

.skills-content .right .live2d::before{
    width: 60%;
}

.skills-content .right .photoshop::before{
    width: 50%;
}

.skills-content .right .blender::before{
    width: 40%;
}

/* works */

.works{
    padding-bottom:30px;
}
.works .max-width .title{
    text-align:center;
    font-size:30px;
    font-family: 'Oswald', sans-serif;
    border: 4px solid black;
    margin-top:40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:40px;
    letter-spacing:10px;
}

.works .max-width .box{
    background:black;
    color:white;
    padding:30px;
    display:inline-block;
    border: 3px solid black;
    border-radius:5px;
    margin:20px;
    width: calc(50% - 50px);
    transition: color 0.3s ease;

}

.works .max-width .box:hover{
    background:white;
    color:black;
    border: 3px solid black;
    border-radius:5px;

}

.works .max-width .box .subheading{
    font-size:10px;
    display: inline-block;
}

.works .max-width .box .video{
    display:block;
    width: 100%;
    height: 315px;
    margin: 0 auto 0 auto;

}

.works .max-width .symbols{
    font-size: 30px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    letter-spacing: 10px;
}

.works .max-width .box .heading{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.works .max-width .box .subheading{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

/* contact */

.contact{
    background:#001022;
    padding:30px;
    width: 100vw;
    min-height: 80vh;

}

.contact .max-width .title{
    text-align:center;
    color:white;
    font-size:30px;
    font-family: 'Oswald', sans-serif;
    border: 4px solid white;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:40px;
    letter-spacing:10px;
}


.contact .max-width .button .link{
    margin: 20px;
    border: 2px solid white;
    background:white;
    padding:10px;
    display:inline-block;
    float:left;
    border-radius:30px;
    position: relative;
}

.contact .max-width .button .link img{
    width: 50px;
    display:inline-block;
    margin:20px;
    float:left;
}

.contact .max-width .button .link .at{
    font-family:'Oswald', sans-serif;
    font-size: 30px;
    margin: 20px;
    float:center;
    display:inline-block;
}

/* footer section styling */

footer{
    background: #0c161b;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
footer span a{
    color: #09aafa;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}





@media only screen and (max-width: 800px) {
    .max-width{
        padding: 0 20px;
    }

    .menu-btn{
        color:#09aafa;
        font-size:27px;
        cursor:pointer;
        display:block;
        z-index:999;
    }

    .menu-btn i.active:before{
        content: '\f00d';
    }


    .navbar .menu{
        position:fixed;
        background: #0c161b90;
        height: 100vh;
        width: 100%;
        left:-100%;
        top:0;
        padding-top:100px;
        transition: all 0.3s ease;

    }

    .navbar .menu .active{
        left:0;
    }


    .navbar .menu .buttons{
        padding: 5px 15px;
        margin: 7px;
        border-radius: 20px;
        font-size: 12px;
        text-align:center;
        cursor:pointer;
        margin-bottom: 10px;

    }

    .navbar .logo a{
 
        font-size: 30px;

    }



    .navbar .menu li{
        display:block;
    }

    .navbar .menu li a{
        display:inline-block;
    }
    

    .home .home-content .text-1{
        font-size: 18px;
        padding-top: 20px;
    }
    
    .home .home-content .text-2{
        font-size: 50px;
        font-weight: 600;
        margin-left: -3px;
        padding-top: 20px;
    }
    
    .home .home-content .text-3{
        font-size: 27px;
        margin: 5px 0;
        padding-top: 20px;
    }

    .home .max-width{
        margin: auto 0 auto 20px;
    }

    .home .home-content a{

        border-radius:9px;
        padding: 12px 36px;
        margin-top: 20px;
        border: 2px solid #09aafa;
        font-size:20px;
    
    
    }
    .commission .max-width .title{
        text-align:center;
        font-size:30px;
        font-family: 'Oswald', sans-serif;
        border: 4px solid black;
        margin-top:40px;
        padding-top:10px;
        padding-bottom:10px;
        margin-bottom:40px;
        letter-spacing:2px;
    }

    .commission .max-width .info .text-a{
        font-size: 40px;
    }

    .narrow{
        display:block;
    }
    
    .commission .max-width .info .text-a span{
        color:darkblue;
    }
    
    .commission .max-width .info .text-b{
        font-size: 24px;
    }

    /* card styling */

    .commission .comms-content .card{
        width: 600px;
        margin-left: 35px;
        margin-bottom: 20px;
    

    }

    .commission .comms-content .card:hover{
        background:white;
        color:black;
    }

    .commission .comms-content .card .box .text{
        font-family: 'Oswald', sans-serif;
        font-size: 20px
    }
    .commission .comms-content .card .box i{
        margin: 10px;
    }

    .commission .comms-content .card .box p{
        margin: 10px;
    }

    .commission .max-width .text-c{
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        padding: 30px;
        margin-top:20px;
        text-align:center;
        text-decoration:underline;
    
    }


    .skills .max-width .glass{
        min-height:10vh;
    }

    .skills .max-width .glass2{
        min-height:10vh;
    }

    .skills .skills-content .right span{
        font-weight: 500;
        font-size: 12px;
        margin-left: 0px;
        margin-right: 15px;
    }

    .skills .skills-content .left img{
        width: 40px;
        float:left;
        margin: 10px;
        margin-top:40px;
    }

    .works .max-width .box{
        background:black;
        color:white;
        padding:30px;
        display:block;
        border: 3px solid black;
        border-radius:5px;
        margin:20px;
        width: 300px;
        transition: color 0.3s ease;
    
    }

    .works .max-width .box .subheading{
        font-size:10px;
        display: inline-block;
    }
    
    .works .max-width .box .video{
        display:block;
        width: 75%;
        height: 270px;
        margin: 0 auto 0 auto;
    
    }
    
    .works .max-width .symbols{
        font-size: 30px;
        margin-bottom: 10px;
        margin-bottom: 10px;
        letter-spacing: 10px;
    }
    
    .works .max-width .box .heading{
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
    }

    .contact{
        min-height: 120vh;
    }

    .contact .max-width .button .link .at{
        font-family:'Oswald', sans-serif;
        font-size: 20px;
        margin: 20px;
        float:center;
        display:inline-block;
    }


}

@media only screen and (max-width: 414px) {
    .commission .comms-content .card{
        width: 300px;
        margin-left: 35px;
        margin-bottom: 20px;
    

    }
    .skills .skills-content .right span{
        font-weight: 500;
        font-size: 12px;
        margin-left:0px;
    }

    .skills .skills-content .right .bars .line{
        font-weight: 500;
        font-size: 12px;
        margin-left:0px;

    }




    
}

@media only screen and (max-width: 1230px) {
    .skills .skills-content .right span{
        font-weight: 500;
        font-size: 12px;
        margin-left: 0px;
        margin-right: 15px;
        margin-top: 30px;
    }

    .skills .max-width .title{
        margin-top: 50px;
        
    }
    .skills .skills-content .right .line{
        height: 5px;
        width: 100%;
        background: lightgrey;
        position: relative;
        margin-left: 0px;
        margin-right: 15px;
    }
    .skills .skills-content .left img{
        width: 35px;
        float:left;
        margin: 10px;
        margin-top:40px;
    }
}
@media only screen and (max-width: 320px) {
    .commission .comms-content .card{
        width: 200px;
        margin-left: 35px;
        margin-bottom: 20px;
    

    }

    
}

